<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
	
		<tittle>Kitablar</tittle>
		
		<style>
			
			table,th,td {
			
				border:3px solid green;
				
			}
			
			
			table {
			
				border-collapse: collapse; width:100%;
			
			}
			
			th {
				padding: 5px; background-color: activeborder;
			}
			
			td {
				padding: 5px; background-color: black; color: white;
			}
			
			td:hover {
				color: blue; cursor: pointer;
			}
			
		</style>
	
	</head>
	<body>
	
		<table>
			
			<thead>
			
				<tr>
				
					<th>ID</th>
					<th>Name</th>
				
				</tr>
			
			</thead>
			
			<tbody>
			
				<tr th:each="book : ${books}">
			
					<td th:text="${book.id}"></td>
					<td th:text="${book.name}"></td>
			
				</tr>
			
			</tbody>
		
		</table>
		
	</body>
</html>