<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
	
		<tittle>New Book Page</tittle>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

		<style>
			#book-register-form{

				width: 200px;
				margin: auto;

			}
		</style>

	</head>
	<body>
	
		<h1 style="text-align: center;">New Book</h1>

		<form th:action="@{/books/new-book-process}" method="POST" th:object="${book}" id="book-register-form">
			
			<div class="form-group">
				<label for="book-name">Ad: </label>
				<input id="book-name" th:field="*{name}"/>
			</div>
			
			<div class="form-group">
				<label for="book-description">Tesvir: </label>
				<textarea id="book-description" th:field="*{description}"></textarea>>
			</div>
			
			<div class="form-group">
				<label for="book-price">Qiymet: </label>
				<input type="number" id="book-price" th:field="*{price}"/>
			</div>
			
			<div class="form-group">
				<label for="book-author">Muellif: </label>
				<input id="book-author" th:field="*{author}"/>
			</div>
			
			<div class="form-group">
				<label for="book-page-count">Sehve Sayi: </label>
				<input type="number" id="book-page-count" th:field="*{pageCount}"/>
			</div>

			<input type="submit" value="Qeydiyyat"/>
			
		</form>

		<a th:href="@{/books}">Kitablarin Siyahisi</a>
		
	</body>
</html>