<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
	
		<tittle>New Book Page</tittle>
	
	</head>
	<body>
	
		<h1>New Book</h1>

		<form th:action="@{/books/new-book-process}" method="POST" th:object="${book}">
			<label for="book-name">Ad: </label>
			<input id="book-name" th:field="*{name}"/>
			<label for="book-description">Tesvir: </label>
			<textarea id="book-description" th:field="*{description}"></textarea>>
			<input type="submit" value="Qeydiyyat"/>
		</form>
		
	</body>
</html>